<template>
  <div :class="card.type + '-card'">
    <h3 class='card-title'>{{card.title}}</h3>
    <p class='card-subheader'>type:{{card.type}}</p>
    <hr>
    <p class='card-description'>{{card.description}}</p>
    <hr>
    <div v-if="card.type!=='goal'">
    <h4 class='card-effects'>Effects:</h4>
    <p class='card-description' v-if="card.motivationEffect">motivation: {{card.motivationEffect}}</p>
    <p class='card-description' v-if="card.blockadeEffect">blockade: {{card.blockadeEffect}}</p>
    <p class='card-description' v-if="card.enjoymentEffect">enjoyment: {{card.enjoymentEffect}}</p>
    </div>
    <div v-if="card.type==='goal'">
      <h4 class='card-points'>Points: {{card.points}} <span v-if="card.completed">&#10003;</span></h4>
      <p class='card-description'>completion requirements:
      {{card.completion}}
      </p>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import { Card } from "../models/Card";

export default Vue.extend({
  data() {
    return {
      
    };
  },
  props: {
    card: {
        type: Card
    }
  }
});
</script>

<style lang="css">
@import "../assets/style.css";
</style>
