<template>
  <div id="playedCardBG">
    <div id="playedCardPopup">
      <p>The following event has just occured</p>
      <div id='eventCard' class='card' v-on:click="engine.acceptEventCard()">
        <card :card="engine.cardService.currentEventCard" />
      </div>
      <p>Click card to continue</p>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import { Engine } from "../modules/Engine";
import Card from "./Card.vue";

export default Vue.extend({
  data() {
    return {
      
    };
  },
  components: {
    Card: Card
  },
  props: {
    engine: {
        type: Engine
    }
  }
});
</script>

<style lang="css">
@import "../assets/style.css";
</style>
