<template>
  <div id="finalScoreBG">
    <div id="finalScorePopup">
      Final Scores:
      <ul>
        <li v-for="player in engine.players" :key="player.id">{{player.name}}: {{player.score}}</li>
      </ul>
      Please reload the browser to start a new game.
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import { Engine } from "../modules/Engine";

export default Vue.extend({
  data() {
    return {
      
    };
  },
  props: {
    engine: {
        type: Engine
    }
  }
});
</script>

<style lang="css">
@import "../assets/style.css";
</style>
