<template>
  <div id="hand">
    <div class='card' v-for="card in engine.cardService.actionCardsInHand" :key="card.id" v-on:click="engine.playCard(card)" @mouseover="engine.motivationService.showCardEffect(card)" @mouseleave="engine.motivationService.removeCardEffect()" @mouseout="engine.motivationService.removeCardEffect()">
      <card :card="card" />
    </div>
    <div id='skip' class="card" v-on:click="engine.skip()">skip turn</div>
    <div :class="card.completed?'completed card goal':'card goal'" v-for="card in engine.cardService.goalCardsInHand" :key="card.id">
      <card :card="card" />
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import { Engine } from "../modules/Engine";
import Card from "./Card.vue";

export default Vue.extend({
  data() {
    return {
      
    };
  },
  components: {
    Card: Card
  },
  props: {
    engine: {
        type: Engine
    }
  }
});
</script>

<style lang="css">
@import "../assets/style.css";
</style>
