<template>
  <div class='bg' v-bind:style="{'background-image':engine.motivationService.motivation.activeTasks[engine.motivationService.turn] ? 'url(\'dist/img/'+ engine.motivationService.motivation.activeTasks[engine.motivationService.turn].name + '.jpg\')' : 'url(\'dist/img/default.jpg\')'}">
  <div class='bgOverlay' v-if="engine.playing" />
    <final-score :engine=engine v-if="engine.showFinalScore" />
    <event-card :engine=engine v-if="engine.showEventCard" />
    <played-card :engine=engine v-if="engine.showPlayedCard" />
    <pick-card :engine=engine v-if="engine.pickCard" />
    <login :engine=engine v-if="engine.playerName == ''" />
    <motivation-canvas :ms=engine.motivationService v-if="engine.playing" />
    <hand :engine=engine v-if="engine.playing" />
    <party :engine=engine v-if="engine.players.length !== 0" />
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import { Engine } from "../modules/Engine";
import Login from "./Login.vue";
import Party from "./Party.vue";
import MotivationCanvas from "./MotivationCanvas.vue";
import Hand from "./Hand.vue";
import PickCard from "./PickCard.vue";
import PlayedCard from "./PlayedCard.vue";
import EventCard from "./EventCard.vue";
import FinalScore from "./FinalScore.vue";

export default Vue.extend({
  data() {
    return {
      engine: new Engine()
    };
  },
  components: {
    Login: Login,
    Party: Party,
    MotivationCanvas: MotivationCanvas,
    Hand: Hand,
    PickCard: PickCard,
    PlayedCard: PlayedCard,
    EventCard: EventCard,
    FinalScore: FinalScore
  },
});
</script>

<style lang="css">
@import "../assets/style.css";
</style>
