<template>
  <div id="login">
    <div v-if="engine.playerName == ''">
      <h1>Welcome!</h1>
      <p>What may we call you?</p>
      <form @submit.prevent="handleSubmit">
        <input id='username' type="text" v-model="username" />
        <button id='submit' type="submit">Play</button>
      </form>
      <p>{{ error }}</p>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import { Engine } from "../modules/Engine";

export default Vue.extend({
  data() {
    return {
        username: "",
      error: "",
    };
  },
  props: {
    engine: {
        type: Engine
    }
},
  methods: {
    handleSubmit() {
      if (this.username == "") {
        this.error = "please provide a username."
        return
      }

      this.engine.login(this.username);
    }
  }
});
</script>

<style lang="css">
@import "../assets/style.css";
</style>
