<template>
  <div id="motivationCanvas">
    <div id='tasksArea'>
      <div :class="task.isActive? 'task active' : 'task'" v-for="task in ms.motivation.tasks" :key="task.id">
        <p class='taskDescription'>{{ task.name }}: <span v-if='task.isActive'><br />(active)</span></p>
        <svg height="100px" width='100px'>
          <mask id='circleMask'>
            <circle cx=80% cy=50% r=40% fill="white" />
          </mask>
          <circle cx=50% cy=50% r=49% fill="white" :stroke="task.color" stroke-width="2" mask="url(#circleMask)" />
          <mask id='lineMask'>
            <circle cx=50% cy=50% r=40% fill="white" />
          </mask>
          <line x1="50%" y1="50%" x2="100%" :y2="(50-task.enjoyment+0.1)+'%'" :stroke="task.color" mask="url(#lineMask)" stroke-width="3" />
          <line v-if="task.cardEffect" x1="50%" y1="50%" x2="100%" :y2="(50-(task.enjoyment+task.cardEffect)+0.1)+'%'" :stroke="task.color" mask="url(#lineMask)" stroke-width="3" />
          <circle cx=50% cy=50% r=5% :fill="task.color" stroke="white" stroke-width="1" />
        </svg>
      </div>
    </div>
    <div id='motivationChart'>
      <svg :height="ms.height+(ms.margin*2) + 'px'" :width="ms.width+(ms.margin*2) + 'px'">
          <line v-for="i in ms.linesInGrid" :key="i" :x1="((ms.width / ms.linesInGrid)*i)+ms.margin" :y1="ms.margin" :x2="((ms.width / ms.linesInGrid)*i)+ms.margin" :y2="ms.height+ms.margin" style="stroke:rgb(200,200,200);stroke-width:1" />
          <line v-for="(int, j) in 11" :key="j+100" :x1="ms.margin" :y1="((ms.height / 10)*j)+ms.margin" :x2="ms.width+ms.margin" :y2="((ms.height / 10)*j)+ms.margin" style="stroke:rgb(200,200,200);stroke-width:1" />

          <line :x1="((ms.width / ms.linesInGrid)*ms.turn)+ms.margin" :y1="ms.margin" :x2="((ms.width / ms.linesInGrid)*ms.turn)+ms.margin" :y2="ms.height+ms.margin" style="stroke:rgb(0,0,0);stroke-width:3" />


          <line v-for="(blockade, b) in ms.motivation.blockades.length - 1" :key="b + 200" style="stroke:red;stroke-width:2"
          :x1="((ms.width / ms.linesInGrid)*b)+ms.margin" 
          :x2="((ms.width / ms.linesInGrid)*(b+1)+ms.margin)" 
          :y1="(ms.height - ((ms.height/100)*ms.motivation.blockades[b]))+ms.margin" 
          :y2="(ms.height - ((ms.height/100)*ms.motivation.blockades[b+1]))+ms.margin"
          />

          <line v-for="(motivation, m) in ms.motivation.motivation.length - 1" :key="m +300"
            :style="'stroke-width:2;stroke:'+[ms.motivation.activeTasks[m+1] == undefined ? 'black' : ms.motivation.activeTasks[m+1].color]"
            :x1="((ms.width / ms.linesInGrid)*m)+ms.margin" 
            :x2="((ms.width / ms.linesInGrid)*(m+1))+ms.margin" 
            :y1="(ms.height - ((ms.height/100)*ms.motivation.motivation[m]))+ms.margin" 
            :y2="(ms.height - ((ms.height/100)*ms.motivation.motivation[m+1]))+ms.margin"
          />

          <line v-if="ms.motivation.motivationCardEffect" style="stroke:grey;stroke-width:1"
          :x1="((ms.width / ms.linesInGrid)*(ms.turn-1))+ms.margin" 
          :x2="((ms.width / ms.linesInGrid)*ms.turn)+ms.margin" 
          :y1="(ms.height - ((ms.height/100)*ms.motivation.motivation[ms.turn-1]))+ms.margin" 
          :y2="(ms.height - ((ms.height/100)*(ms.motivation.motivation[ms.turn]+ms.motivation.motivationCardEffect)))+ms.margin"
          />

          <line v-if="ms.motivation.blockadeCardEffect" style="stroke:grey;stroke-width:1"
          :x1="((ms.width / ms.linesInGrid)*(ms.turn-1))+ms.margin" 
          :x2="((ms.width / ms.linesInGrid)*ms.turn)+ms.margin" 
          :y1="(ms.height - ((ms.height/100)*ms.motivation.blockades[ms.turn-1]))+ms.margin" 
          :y2="(ms.height - ((ms.height/100)*(ms.motivation.blockades[ms.turn]+ms.motivation.blockadeCardEffect)))+ms.margin"
          />
      </svg>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import { MotivationService } from "../modules/MotivationService";

export default Vue.extend({
  data() {
    return {

    };
  },
  props: {
    ms: {
        type: MotivationService
    }
  }
});
</script>

<style lang="css">
@import "../assets/style.css";
</style>
