<template>
  <div id="party">Connected players:
    <ul id='players'>
      <li v-for="player in engine.players" :key="player.id">{{player.name}}</li>
    </ul>
    <p id='turn' v-if="engine.playing">{{ engine.currentPlayersTurn }}'s turn</p>
    <button id='start' v-on:click="engine.requestStart()" v-if="!engine.playing">Start Game</button>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import { Engine } from "../modules/Engine";

export default Vue.extend({
  data() {
    return {

    };
  },
  props: {
    engine: {
        type: Engine
    }
  }
});
</script>

<style lang="css">
@import "../assets/style.css";
</style>
