<template>
  <div id="drawCardBG">
    <div id="drawCardPopup">
      Gimme:<br />
      <div class='drawCardOption' id='drawActionCard' v-on:click="engine.drawActionCard()">Action Card</div>
      <div class='drawCardOption' id='drawGoalCard' v-on:click="engine.drawGoalCard()">Goal Card</div>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import { Engine } from "../modules/Engine";

export default Vue.extend({
  data() {
    return {
      card: 0
    };
  },
  props: {
    engine: {
        type: Engine
    }
  }
});
</script>

<style lang="css">
@import "../assets/style.css";
</style>
