<template>
  <div id="playedCardBG">
    <div id="playedCardPopup" v-on:click="engine.acceptPlayedCard()">
      <p>Someone just played the following card:</p>
      <div id='playedCard' class='card'>
        <card :card="engine.recentlyPlayedCard" />
      </div>
      <div id='eventCard' class='card'>
        <card :card="engine.recentEventCard" />
      </div>
      <p>Click card to continue</p>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import { Engine } from "../modules/Engine";
import Card from "./Card.vue";

export default Vue.extend({
  data() {
    return {
      
    };
  },
  components: {
    Card: Card
  },
  props: {
    engine: {
        type: Engine
    }
  }
});
</script>

<style lang="css">
@import "../assets/style.css";
</style>
