html, body {
  margin: 0px;
  height: 100%;
  font-family: arial;
  overflow: hidden;
}

.bg {
  height:100%;
  width: 100%;
  background: white no-repeat fixed center;
}
.bgOverlay {
  height: 100%;
  width:100%;
  background: rgba(255,255,255,0.7)
}

#drawCardBG, #playedCardBG, #finalScoreBG {
  position: absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background: rgba(0,0,0,0.5);
  z-index: 2;
}

#drawCardPopup, #playedCardPopup, #finalScorePopup {
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 10%;
  background-color: white;
  border: 1px solid grey;
  padding: 10px 20px;
}

.drawCardOption {
  float:left;
  width: 100px;
  padding: 20px 10px;
  background-color: white;
  border: 1px solid grey;
}
.drawCardOption:hover {
  background-color: aquamarine;
}


#login {
  text-align:center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
}


#party {
  position: absolute;
  background-color: lightblue;
  border: 1px solid lightskyblue;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
}

#hand {
  position: absolute;
  width:100%;
  bottom: 10px;
}
.card {
  height: 200px;
  width: 120px;
  background-color: aliceblue;
  border: 1px solid grey;
  float: left;
  margin: 10px;
  padding: 8px 12px;
  font-size:10pt;
  box-shadow: -1px 2px 5px lightgray;
  border-radius: 5px;
}
.card:hover {
  background-color: antiquewhite;
}
.completed {
  background-color: lightgreen !important;
}
.card-title {
  margin: 0px;
  font-size: 10pt;
}
.card-description {
  font-size:6pt;
}

.card hr {
  border-top: 1px solid grey;
  border-bottom: none;
}
.card-subheader {
  margin:0px;
  font-size: 8pt;
  font-style: italic;
  text-align: right;
}
.card-effects {
  font-size:10pt;
  font-weight:bold;
  margin:0px;
}
.card-points {
  font-size:12pt;
  text-align: right;
  font-weight:bold;
  margin:0px;
}

#hand .card {
  position: relative;
  margin-right:-100px;
  bottom: 0;
  transition: bottom ease 0.5s;
}
.goal {
  background-color: aliceblue;
}
#hand .goal {
  float: right;
  margin-right: 30px;
  margin-left: -100px;
}
#hand .card:hover {
  bottom: 80px;
  z-index:1;
}

#motivationCanvas {
  position: absolute;
  top:0px;
  width:1000px;
  height:450px;
  background-color: aliceblue;
  opacity: 0.8;
}

#tasksArea {
  width:100%;
  height:150px;
}

#motivationChart {
  width:100%;
  height:300px;
}

.task {
  float: left;
  width: 200px;
  height: 100px;
  margin: 0px 40px;
  padding: 10px 20px;
  border: 1px solid aliceblue;
}
.active {
  border: 1px solid grey;
}
.taskDescription {
  font-style: italic;
  float:left;
  font-size:10pt;
  margin-right:-30px;
}